<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         beStrictAboutCoverageMetadata="true"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".cache/phpunit"
         cacheResultFile=".cache/phpunit.cache.json"
         requireCoverageMetadata="true"
>
    <testsuites>
        <testsuite name="unit">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
    <coverage cacheDirectory=".cache/phpunit"
              ignoreDeprecatedCodeUnits="true"
              disableCodeCoverageIgnore="true"
    />
    <php/>
</phpunit>
